@font-face 
{ 
    font-family: "Circe-Light";
    src:
    url("../fonts/Circe-Light.woff") format("woff"),
    url("../fonts/Circe-Light.woff2") format("woff2"),
    url("../fonts/Circe-Light.ttf") format("truetype");
    /* font-style: normal;
    font-weight: bolder; */
}